<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description | xml_escape }}" />
<meta name="author" content="Donghwan Kim" />
<title> 
{% if page.title == "Vibe" %} 
	{{ page.title }} 
{% else if %} 
	{{ page.title }} - Vibe
{% endif %}
</title>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/foundation-icons.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pygments-github.css" />
<link rel="alternate" type="application/rss+xml" title="RSS for vibe news" href="{{ site.baseurl }}/feed.xml">
{% if page.path != "projects/index.html" and page.path contains "projects/" %}
<style>
:not(.top-bar-wrapper) + .top-bar-wrapper {opacity: 0.5;}
</style>
{% endif %}
<script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>