<header class="project">
    <div class="row">
        <div class="large-12 columns">
            <h1>Vibe JavaScript Client</h1>
            <ul class="inline-list">
                <li><a href="{{ site.baseurl }}/projects/vibe-javascript-client/">Home</a></li>
                <li><a href="https://github.com/Atmosphere/vibe-javascript-client">Source</a></li>
                <li><a href="https://github.com/Atmosphere/vibe-javascript-client/issues">Issues</a></li>
                <li><a href="https://travis-ci.org/Atmosphere/vibe-javascript-client">CI</a></li>
                <li><a href="https://github.com/Atmosphere/vibe-javascript-client/releases">Changelog</a></li>
            </ul>
            <ul class="doc-list inline-list">
                <li class="name">Documentation</li>
                <li>
                    <ul class="inline-list">
                        <li><span class="secondary label">snapshot</span></li>
                        <li><code>3.0.0-Alpha1</code></li>
                        <li><a href="{{ site.baseurl }}/projects/vibe-javascript-client/3.0.0-Alpha1/reference/">Reference</a></li>
                        <li><a href="{{ site.baseurl }}/projects/vibe-javascript-client/3.0.0-Alpha1/api/">API</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>