<article>
    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    <div class="information">
        <p>
            <a href="https://github.com/{{ post.author }}" class="post-author">
                <img src="https://github.com/{{ post.author }}.png" alt="{{ post.author }}" width="24" height="24"> {{ post.author }}
            </a>
            wrote this on <time>{{ post.date | date_to_string }}</time>
        </p>
    </div>
    <div class="content">{{ post.content | truncatewords: 50 }}</div>
</article>