@import "foundation/functions";
$base-font-size: 90%;
$row-width: 80em;
$body-font-color: #444;
$body-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-color: #444;
$h1-font-size: rem-calc(40);
$h2-font-size: rem-calc(34);
$h3-font-size: rem-calc(25);
$h4-font-size: rem-calc(22);
$h5-font-size: rem-calc(18);
$code-color: scale-color($body-font-color, $lightness: -27%);
$topbar-bg-color: #fff;
$topbar-dropdown-bg: #fff;
$topbar-dropdown-link-color: #000;
$topbar-dropdown-link-bg: #fff;
$topbar-dropdown-toggle-color: #000;
$topbar-link-color: #333;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #000;
$topbar-link-color-active-hover: #000;
$topbar-link-bg-color-hover: #fff;
$topbar-link-bg-hover: #fff;
$topbar-dropdown-label-color: #888;
$topbar-dropdown-label-bg: #fff;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #000;
$topbar-breakpoint: 9999px; // Change to 9999px for always mobile layout
$topbar-divider-border-bottom: solid 1px  scale-color($topbar-bg-color, $lightness: -50%);