@import "normalize";
@import "settings";
@import "foundation";
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

.bar {
  height: 3px; 
  background: linear-gradient(45deg, #f20f38 0, #f2884b 100%);
}
div.highlight {
  margin-bottom: 1.25rem; 
  line-height: normal;
  pre {
    border-left: 0.3rem solid #eee;
    padding-left: 1rem;
    code {
      font-weight: normal; 
      color: inherit;
    }
  }
}
div.top-bar-wrapper {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
div.row > div.columns > div.top-bar-wrapper {
  margin-top: -1rem;
}
div.copyright {
  color: #777;
  p, ul {
    font-size: 0.9rem;
  }
}
article {
  h1 {
    font-size: 2rem;
  }
  .information {
    color: #888;
  }
}