@import "normalize";
@import "settings";
@import "foundation";
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

.bar {height: 3px; background: linear-gradient(45deg, #f20f38 0, #f2884b 100%);}
pre code {font-weight: normal; color: inherit;}
div.highlight {margin-bottom: 1.25rem; line-height: normal;}
div.text {padding-top: 2rem;}
div.copyright {
  color: #777;
  p, ul {
    font-size: 0.9rem;
  }
}
article {
  h1 {
    font-size: 2rem;
  }
  .information {
    color: #888;
  }
}
div.top-bar-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header.index {
  padding-top: 6rem; 
  padding-bottom: 6rem; 
  margin-bottom: 2rem;
  h1 {
    font-size: 2rem; 
    color: #fff; 
    margin-bottom: 1rem;
  }
}
header.project {
  background: #333; 
  padding-top: 5rem; 
  margin-bottom: 2rem; 
  min-height: 17.5rem;
  h1 {
    font-size: 2rem; 
    color: #fff; 
    margin-bottom: 1rem;
  }
  ul.inline-list {
    li {
      code {display: inline-block; color: #ddd;}
      span.label {display: inline-block;}
    }
  }
  ul.doc-list {
    li.name {
      color: #ccc;
    }
    > li{
      margin-right: 1rem;
    }
    ul.inline-list li {
      margin-left: 1rem;
    }
  }
}


