@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
html {font-size: 90%;}
h1,h2,h3 {font-family: "Open Sans"}
pre code {font-size: 90%; font-weight: normal; color: inherit;}

.top-bar-wrapper {background: #333;}
.highlight {margin-bottom: 1.25rem; line-height: 1.2rem;}
.has-form input {height: 28px;}
.text {padding-top: 2rem;}
.project-bar {margin-bottom: 1rem;}
.doc-list .inline-list {margin-bottom: 0;}
.doc-list .bullet-item * {display: inline-block;}
.doc-list code {color: inherit;}
.copyright {color: #777;}

article h1 {font-size: 2rem;}
article .information {color: #888;}