@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
html {font-size: 90%;}
h1,h2,h3 {font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;}
pre code {font-size: 90%; font-weight: normal; color: inherit;}

div.top-bar-wrapper {background: #333;}
div.highlight {margin-bottom: 1.25rem; line-height: 1.2rem;}
li.has-form input {height: 28px;}
ul.pagination {height: inherit;}
div.text {padding-top: 2rem;}

div.copyright {color: #777;}
div.copyright p {font-size: 0.9rem;}

article h1 {font-size: 2rem;}
article .information {color: #888;}

header.index {background: #333; padding-top: 7rem; margin-bottom: 2rem; min-height: 17.5rem;}
header.index h1 {font-size: 2rem; color: #fff; margin-bottom: 1rem;}
header.project {background: #333; padding-top: 5rem; margin-bottom: 2rem; min-height: 17.5rem;}
header.project h1 {font-size: 2rem; color: #fff; margin-bottom: 1rem;}
header.project ul.inline-list li code {display: inline-block; color: #ddd;}
header.project ul.inline-list li span.label {display: inline-block;}
header.project ul.doc-list li.name {color: #ccc;}
header.project ul.doc-list > li{margin-right: 1rem;}
header.project ul.doc-list ul.inline-list li {margin-left: 1rem;}