html {font-size: 90%;}
pre code {font-size: 90%; font-weight: normal; color: inherit;}

.row {max-width: 80rem;}
.top-bar {height: auto;}
.top-bar-wrapper {background: #333;}

.footer {padding: 10px 0; color: #777;}
.footer p, .footer li {font-size: 0.9rem;}
.footer p:not(:last-of-type) {margin: 0;}

.main p:first-child, .main h1:first-child {margin-top: 2rem;}