<ul class="dropdown">
    <li><label>Pre</label></li>
    <li><a href="/projects/vibe-java-platform/3.0.0-Alpha8"><code>3.0.0-Alpha8</code></a></li>
    <li><a href="/projects/vibe-java-platform/3.0.0-Alpha7"><code>3.0.0-Alpha7</code></a></li>
    <li><a href="/projects/vibe-java-platform/3.0.0-Alpha6"><code>3.0.0-Alpha6</code></a></li>
    <li><a href="/projects/vibe-java-platform/3.0.0-Alpha5"><code>3.0.0-Alpha5</code></a></li>
    <li><a href="/projects/vibe-java-platform/3.0.0-Alpha4"><code>3.0.0-Alpha4</code></a></li>
    <li><a href="/projects/vibe-java-platform/3.0.0-Alpha3"><code>3.0.0-Alpha3</code></a></li>
    <li><a href="/projects/vibe-java-platform/3.0.0-Alpha2"><code>3.0.0-Alpha2</code></a></li>
    <li><a href="/projects/vibe-java-platform/3.0.0-Alpha1"><code>3.0.0-Alpha1</code></a></li>
</ul>