---
layout: blog
title: Blog
---

{% for post in paginator.posts %}
<div class="row">
    <div class="large-12 columns">
    {% include post.html %}
        <hr />
    </div>
</div>
{% endfor %}
<ul class="pagination">
{% for page in (1..paginator.total_pages) %}
    <li class="{% if page == paginator.page %}current{% endif %}">
    {% if page == 1 %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: 'page:num/', '' }}">{{ page }}</a>
    {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>