<!doctype html>
<html class="no-js" lang="en">
<head>
	{% include header.html %}
</head>
<body>
    <div class="top-bar-wrapper">
        <div class="row">
            <div class="large-12 columns">
                <nav class="top-bar" data-topbar>
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="{{ site.baseurl }}/">React</a></h1>
                        </li>
                    </ul>
                    <section class="top-bar-section">
                        <ul class="left">
                            <li><a href="{{ site.baseurl }}/javascript-client">JavaScript Client</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
    {{ content }}
    {% include footer.html %}
</body>
</html>